# # 1. Acquire and read in the data source(s).

In [3]:
import pandas as pd

df = pd.read_csv('../Data/nil_updated.csv')
df.head()

,rank,name,position,class,height_in,weight,rating,nil_value,instagram,tiktok,twitter,college,conference,social_media_followers
0,1,Arch Manning,QB,JR,75.5,220,99.53,5300000.0,5300000.0,NaN,NaN,Texas,SEC,5300000.0
1,2,Jeremiah Smith,WR,SO,75.0,215,99.61,4200000.0,4200000.0,NaN,NaN,Ohio State,Big Ten,4200000.0
2,3,Carson Beck,QB,RS-SR,76.0,230,91.28,3100000.0,3100000.0,NaN,NaN,Georgia,SEC,3100000.0
3,4,Bryce Underwood,QB,FR,76.0,214,99.87,3000000.0,3000000.0,NaN,NaN,LSU,SEC,3000000.0
4,5,Fernando Mendoza,QB,RS-JR,77.0,208,79.83,2600000.0,2600000.0,NaN,NaN,California,ACC,2600000.0

In [ ]:
df.tail()

,Rank,Name,Position,Class,Weight,Rating,NIL_Value,Total_Followers,Team,Conference
95,96,Malachi Toney,WR,FR,190,89.34,878000,136600,Miami Hurricanes,ACC
96,97,Isaac Brown,RB,SO,175,88.40,866000,14100,Louisville Cardinals,ACC
97,98,Lee Hunter,DL,RS-SR,292,94.33,861000,17400,Texas Tech Red Raiders,Big 12
98,99,Dillon Thieneman,S,JR,205,85.72,855000,9100,Oregon Ducks,Big Ten
99,100,Jalon Daniels,QB,SR,206,79.82,855000,109000,Kansas Jayhawks,Big 12

In [7]:
df.describe()

             Rank      Weight     Rating     NIL_Value  Total_Followers
count  100.000000  100.000000  95.000000  1.000000e+02     1.000000e+02
mean    50.500000  223.780000  91.911368  1.451910e+06     8.239372e+04
std     29.011492   43.065743   5.942277  7.006929e+05     1.682950e+05
min      1.000000  165.000000  79.820000  8.550000e+05     1.525000e+03
25%     25.750000  193.750000  87.760000  1.000000e+06     1.007500e+04
50%     50.500000  211.000000  93.110000  1.200000e+06     2.980000e+04
75%     75.250000  240.500000  97.360000  1.600000e+06     6.975000e+04
max    100.000000  330.000000  99.870000  5.300000e+06     1.226000e+06

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             100 non-null    int64
 1   Name             100 non-null    object
 2   Position         100 non-null    object
 3   Class            100 non-null    object
 4   Weight           100 non-null    int64
 5   Rating           95 non-null     float64
 6   NIL_Value        100 non-null    int64
 7   Total_Followers  100 non-null    int64
 8   Team             100 non-null    object
 9   Conference       100 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 7.9+ KB

 # 2. Describe how to get the data.
 
 To get this data you must scrape all the data off the On3 NIL valuation page for the top 100 football players. You then must go to either their Rivals or On3 recruiting account to figure out all the grades for the players. Then you must go to any resource (in my case I used ESPN as it's very easy to access) that has the data for what teams the players are on to scrape that data to fill out the CSV. You can then add the conference that team is in, which is also available on ESPN.

# 3. Describe who produced the data and how.

The people who produced this data are the people who run the On3 Nil valuation page. They have a team of people who research and scrape all the data from various sources to compile it into one easy to read format. They then post it on their website online and via social media where they have a large following. For this project,the NIL vlaues, ratings, and social media metrice were all taken from the On3 Nil valutation and recrtuing pages. The team names and conferences were taken from espn as well as the position of each player. The data set was created by taking the important data from each of these sources and compiling it into one csv file. At first there were some columns of unnessesary data that we removing before entering it into csv format such as the highschool and we coimbined social media following into one column rather than listing out each platform with its respective following.

# 4. Describe the data’s features with a COLS table.

| Column               | Type | Description                 | Source|
| ------------------------ | -------- | ----------------------------------------- | ---------- |
| rank                     | int      | Players rank on the On3 NIL list | On3        |
| name                     | string   | Name of the player                  | On3        |
| position                 | string   | Player’s position           | On3        |
| class                    | string   | Eligibility year                 | On3       |
| height_in                | float    | Height in inches                          | On3       |
| weight                   | int      | Weight in pounds                          | On3       |
| rating                   | float    | Recruiting rating          | On3/Rivals        |
| nil_value                | float    | Estimated NIL valuation in USD            | On3        |
| instagram                | float    | Instagram follower count                  | On3        |
| tiktok                   | float    | TikTok follower count                     | On3        |
| twitter                  | float    | Twitter/X follower count                  | On3        |
| social_media_followers   | float    | Combined total followers                  | On3 (Derived from social media columns)   |
| college                  | string   | Current school          | ESPN       |
| conference               | string   | Conference of player's school            | ESPN       |